/* title font style and font size css */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@600;700&display=swap');

.bigTitle {
     background-image: linear-gradient(to right, rgba(96, 77, 188, 1), rgba(21, 232, 186, 1));
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}



.bgGradient {
     background-image: linear-gradient(to right bottom, rgba(21, 232, 186, 1), rgba(96, 77, 188, 1));
}

.bgGradientSecendory {
     background-image: linear-gradient(to top  left, #8EC0D7,#7F9ECF,#5E4CB6);
}
.bgGradientButton {
     background-image: linear-gradient(to left, #604DBC,#38A1BB,#38A1BB);
}


/* hero bg image */

.heroSec {
     background-image: url('./HeroImageBG.png');
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}
.subBg{
     background-image: url('./BG.png');
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}

.cardOutline{
     background-image:url('./cardOutline1.png');
     background-repeat: no-repeat;
     background-clip: content-box;
     background-size: 100% 100%;
}
.cardOutlin2{
     background-image:url('./cardOutline2.png');
     background-repeat: no-repeat;
     background-clip: content-box;
     background-size: 100% 100%;
}